/* стили для блока навигации: определяем ширину меню, центрируем элементы меню, определяем 
отступы от верхнего и левого края согласно предложенного изображения для домашней работы */
.main-nav {
  width:1170px;
  margin-top: 38px;
  text-align: center;
}
/* стили для блока меню: убираем все отступы (чтобы не мешали при расчетах отступов
согласно предложенного изображения для домашней работы) */
.main-nav ul {
 width: 850px;
  margin: 0px;
  padding: 0px;
  margin-left: 650px;
}
.main-nav ul::after {
  display: table;
  content: ' ';
  clear: both;
}
/* стили для блока элемента меню: определяем его тип, убираем подчерки и маркеры, устанавливаем 
размеры и отступы, а также размер, тип и наименование шрифта как родительского для тега <а> */
.main-item {
  float: left;
  list-style: none;
  width:85px;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
} 
.main-item:nth-child(3n+1) {
  background-color:#88292F;
}
.main-item:nth-child(3n+2) {
  background-color:#5DB7DE;
}
.main-item:nth-child(3n+3) {
  background-color:#0D5D56;
}

/* определяем цвет элемента меню согласно предложенного изображения для домашней работы)*/
.main-item a {
  color:#0E1116;  
  text-decoration: none;
}
/* определяем цвет элемента меню при фокусировке согласно предложенного изображения для домашней работы)*/
/*.main-item a:hover {
  color:#03a9f4;
}*/

