.clearfix::after {
  display: table;
  content: '';
  clear: both;
}
.body-img {
/*  position: relative;*/
  position: fixed;
  background-image:  url(../img/language.jpg) ; 
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.body-back{
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ) ; 
  position: absolute;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
}
 

