* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul:after {
   
}

ul.menu > li {
     position: relative; 
     float: left; 
    }

ul.menu > li > a {
    display: block; 
    padding: 8px 38px;
    color: white; 
    background-color: rgb(200,200,200); 
    text-decoration: none; 
}
ul.menu > li > a:hover {
    color: khaki; 
}
ul.submenu { 
    display: none;
    position: absolute;
    width: 120px;
    top: 34px;
    left: 37px;
    background-color: white;
   
    
}
ul.submenu > li {
    display: block; 
}
ul.submenu > li > a {
    display: block;
    padding: 8px 8px;
    color: white;
    background-color:rgb(200,200,200);
    text-decoration: none;
   
}
ul.submenu > li > a:hover {
    color: khaki;
    background-color: rgb(150,150,150);
}
ul.menu > li:hover > ul.submenu { 
    display: block;
}
